// Define variables for your color scheme

// For example:
$brown: #472C1B;
$green: #D7F75B;
$softblack: rgb(35, 37, 35);
$lightbrown: #7D451B;
$mustard: #D19C1D;
$yellow: #ecf39e;


$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
