.goats-list-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.delete-goat-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px 0 5px 0;
  text-align: center;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  right: 0;
  transition: background-color 0.3s;
}

.delete-goat-btn:hover {
  background-color: #a53027;
}

.card {
  .card-header {
    background-color: $green;
    color: $softblack;
  }
}
