
.card-info {
  margin: 15px;
}

#stats {
  margin-top: 20px;
  margin-left: 20px;
  color: $softblack;
}

.big-goat-profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: -40px auto 0;
}

.bookThisGoat {
  border: solid 1px #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: $brown;
}

.goat-name {
  font-size: 70px;
  margin-top: 10px;
  color: $softblack;
  margin: -60px auto 0;
}

.goat-info {
  border-radius: 30px;
  margin: 10px;
  flex-direction: row;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: $yellow;
  width: 100%;
}

.goat-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#goat-price {
  display: flex;
  font-weight: bold;
  align-items: baseline;
  p {
    font-size: 20px;
    align-self: flex-start;
  }
}

#booking-form {
  margin-left: 30px;
}
@media (max-width: 920px) {
  .goat-info {
    flex-direction: column;
  }
}
@media (max-width: 1230px) {
  .goat-show-container {
    flex-wrap: wrap;
  }
  #booking-form {
    margin-left: 0;
  }
}

* {box-sizing:border-box}


.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  padding-right: 5px;
  margin: 10px;
}

.hearding {
  background-color: #50c540;
  border-radius: 30px;
}

.cuteness {
  background-color: #c753bd;
  border-radius: 30px;
}

.friendly {
  background-color: #f4a41a;
  border-radius: 30px;
}
.climbing {
  background-color: #6a5143;
  border-radius: 30px;
}

.card-body {
  width: 280px;
}
