.big-goat-profile-pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.bookThisGoat {
  border: solid 1px #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.goat-name {
  font-size: 100px;
  font-weight: bold;
}

.goat-info {
  border-radius: 30px;
  margin: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding-left: 1.25rem;
  padding-right: 1.25rem;

}

@media (max-width: 920px) {
  .goat-info {
    flex-direction: column;
  }
}
