<div class='navbar shadow p-3 mb-5 bg-body rounded'>
  <div class='container-fluid mx-5'>
    <h2>Logo</h2>
    <div>
    <h2>Profile</h2>
    <h3>Have a goat?</h3>
    </div>
    </div>
  </div>
<div class='container'>
  <img>
</div>
