<div class='navbar shadow p-3 mb-5 bg-body rounded'>
  <div class='container-fluid mx-5'>
    <h2 class='flex-grow-1'>Logo</h2>
    <h2 class='px-3'>Profile</h2>
    <h3 class='px-3'>Have a goat?</h3>
    </div>
  </div>
<div class="banner d-flex align-items-center m-3" style="background-image: url('https://media.npr.org/assets/img/2014/12/14/ap798386886673_custom-874f02be53ae33c23d21b505066e52895eab4651.jpg?s=1600&c=85&f=webp'); background-size: 100%; background-position: flex-center; height: 500px;">
  <div class="text-start text-white m-4">
    <h1>Goatmate</h1>
    <p>Your Go-To for Hoof-tapping Fun and Herd Happiness!</p>
    <a href="#" class="btn btn-primary">Find your GoatMate</a>
  </div>
</div>
