.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 50px;
}

#goatlink {
  color: #323028;
  text-shadow: 1px 1px 2px rgba(83, 70, 70, 0.3);
  transition: color 0.3s;
}

#goatlink:hover {
  transform: scale(1.1);
}

.dropdown-item {
  color: #333;
  background-color: #d2ddaf;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-item:hover {
  color: #9f9b9b;
  background-color: #007bff;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.avatar:hover {
  transform: scale(1.1);
}
