
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mx-3 d-flex justify-content-between align-items-end p-1">
    <%= link_to root_path, class: "navbar-brand" do %>
          <img src="<%= asset_path('goatfacelogo.png') %>" />
        <% end %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to new_goat_path, class: 'nav-link', id: 'goatlink' do %>
              <h4>Have a Goat?</h4>
            <% end %>
          </li>

         <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://www.iconbolt.com/iconsets/phosphor-regular/user-list.svg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if user_signed_in? %>
                  <a class="dropdown-item" href="/dashboard">Dashboard</a>
                  <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out">Log out</a>
                <% else %>
                  <a class="dropdown-item" href="/users/sign_up">Sign Up</a>
                  <a class="dropdown-item" href="/users/sign_in">Log in</a>
                <% end %>
            </div>
          </li>

          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
