<div class='navbar shadow p-3 mb-5 bg-body rounded'>
  <div class='container-fluid mx-5'>
    <h2 class='flex-grow-1'>Logo</h2>
    <h2 class='px-3'>Profile</h2>
    <h3 class='px-3'>Have a goat?</h3>
    </div>
  </div>
